@{
    ViewBag.Title = "Contact";
}




<a href="@Url.Action("ViewResult","Result")" 
@Html.ActionLink("ViewResult", "ViewResult", "Result", null,new { @class = "btn btn-success info-btn" }) <span class="glyphicon glyphicon-download file-info" data-file="ViewResult.cshtml"></span>
@Html.ActionLink("ViewResultRedirect", "ViewResultRedirect", "Result", null, new { @class = "btn btn-success info-btn" })
@Html.ActionLink("PartialViewResult", "PartialViewResult", "Result", null, new { @class = "btn btn-success info-btn" }) <span class="glyphicon glyphicon-download file-info" data-file="_PartialViewResult.cshtml"></span>
@Html.ActionLink("ContentResult", "ContentResult", "Result", null, new { @class = "btn btn-success info-btn" })
@Html.ActionLink("EmptyResult", "EmptyResult", "Result", null, new { @class = "btn btn-success info-btn" })
@Html.ActionLink("HttpStatusCodeResult", "HttpStatusCodeResult", "Result", null, new { @class = "btn btn-success info-btn" })
@Html.ActionLink("RedirectResult", "RedirectResult", "Result", null, new { @class = "btn btn-success info-btn" })
@Html.ActionLink("JsonResult", "JsonResult", "Result", null, new { @class = "btn btn-success info-btn" })
@Html.ActionLink("FileContentResult", "FileContentResult", "Result", null, new { @class = "btn btn-success info-btn" })


<script type="text/javascript" src="@Url.Action("Alert","Result",new { message = "Javascript result"})"></script>


