
@{
    ViewBag.Title = "Index4";
}

<div class="row">

    <div class="col-md-4">
        <h2>Misc</h2>
        <p>
            <ol>
                <li>Validering <a href="javascript:toggle('#validate')">Vis</a></li>
                <li>Filtre <a href="javascript:toggle('#filters')">Vis</a></li>
                <li>Areas <a href="javascript:toggle('#areas')">Vis</a></li>
                <li>Unity <a href="javascript:toggle('#unity')">Vis</a></li>
            </ol>
        </p>
    </div>

    <div class="col-md-8">
        <div id="validate" class="hide">
            <h2>Validering</h2>
            @Html.Action("Validate", "Advanced")
        </div>
        <div id="filters" class="hide">
            <h2>Filtre</h2>
            @Html.Action("Filters", "Advanced")

        </div>
        <div id="areas" class="hide">
            <h2>Areas</h2>
            @Html.Action("Areas", "Advanced")

        </div>
        <div id="unity" class="hide">
            <h2>Unity</h2>
            @Html.Action("Unity", "Advanced")

        </div>
    </div>

</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".file-info").click(function () {

                $.get('@(Url.Action("Info", "api/File"))?file=' + $(this).data('file'), function (data) {
                    console.log(data);
                    $("#content-info").html('<pre>' + data.FileContent + '</pre>');
                });
            });
        });

        toggle = function (id) {
            $('#validate').addClass('hide');
            $('#filters').addClass('hide');
            $('#areas').addClass('hide');
            $('#unity').addClass('hide');
            $(id).removeClass('hide');
        }
    </script>
}
